.graticule {
  z-index: 1;
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  z-index: 1;
  fill: #222;
}

.boundary {
  z-index: 1;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

body {
  margin: 0;
}

.map {
  z-index: 1;
  position: relative;
  overflow: hidden;
}

.layer {
  z-index: 1;
  position: absolute;
}

.tile {
  z-index: 1;
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

#connection-selector,
#selected-date {
  z-index: 2;
  position: absolute;
  pointer-events: none;
  width: 100px;
  height: 20px;
  bottom: 3px;
  font-weight: bold;
  text-align: center;
  color:  #2e4053;
  background-color:transparent;
}
#connection-selector{
	text-align: none;
	color: #5d6d7e;
	width:200px;
	left:105px;
}

.edge {
  fill: none;
  stroke: #B9ff33;
  stroke-width: 2px;
  stroke-opacity: .8;
}
