div.dialog-code{
	cursor:pointer;
}

/* circular mask around portrait images */
img.clip-path{
	height:200px;
	width:200px;
	border-radius: 50%;
	margin-bottom:4px;
}

#slidr-map,
#date-slider,
#date-slider-container{ 
	margin:0 !important;
	padding:0 !important;
}
#connection-selector-panel{
	margin:0 !important;
	padding-top:4px;
	background-color: #f4f6f6;
	text-align:center;
}

/* var barColors = [ ['Intermediary', "#A1D99B"], ['Officer', "#FC9272"], ['Entity', "#A6BDDB"] ]; */
input[type=checkbox] + label{
	color:red;
	padding-left:4px;
	padding-right:10px;
}
#chk-officer + label{
	color:#A1D99B;
}
#chk-intermediary + label{
	color:#FC9272;
}
#chk-entity + label{
	color:#A6BDDB;
	/*pointer-events:none;*/
}
#chk-entity{
	pointer-events:none
}

/* Detail view */

.hive-axis {
	  stroke: #000;
	  stroke-width: 1.5px;
}

.hive-node circle {
	  stroke: #000;
}

.hive-node circle.active {
	  stroke: red;
	  stroke-width: 3px;
}

.hive-link {
	  fill: none;
	  stroke: #999;
	  stroke-width: 1.5px;
	  stroke-opacity: .3;
}

.hive-link.active {
	  stroke: red;
	  stroke-width: 2px;
	  stroke-opacity: 1;
}
