div.dialog-code{
	cursor:pointer;
}

/* circular mask around portrait images */
img.clip-path{
	height:200px;
	width:200px;
	border-radius: 50%;
	margin-bottom:4px;
}

#slidr-map,
#date-slider,
#date-slider-container{ 
	margin:0 !important;
	padding:0 !important;
}
#connection-selector-panel{
	margin:0 !important;
	padding-top:4px;
	background-color: #f4f6f6;
	text-align:center;
}

/* var barColors = [ ['Intermediary', "#A1D99B"], ['Officer', "#FC9272"], ['Entity', "#A6BDDB"] ]; */
input[type=checkbox] + label{
	padding-left:4px;
}
.checkbox-container{
	width:150px;
}
#chk-officer + label{
	color:#A1D99B;
	padding-right:40px;
}
#chk-intermediary + label{
	color:#FC9272;
	padding-right:40px;
}
#chk-entity + label{
	color:#A6BDDB;
}
label{
	margin-bottom:10px;
}
#connection-count-total{
	display:inline-block;
	color: gray;
	margin-left:50px;
}

#chk-entity{
	pointer-events:none
}
#officer-conn-count,
#intermediary-conn-count,
#entity-conn-count{
	display:inline-block;
	font-weight:normal;
	padding-left:5px;
	width:20px;
	text-align:right;
}

/* Detail view */

#network-view-selected-date {
	position: absolute;
	bottom: 15px;
	z-index: 5;
}

.hive-axis {
	  opacity: 0.5;
	  stroke: #000;
	  stroke-width: 1.5px;
}

.hive-node circle {
	  stroke: #000;
}

.hive-node circle.active {
	  stroke: red;
	  stroke-width: 3px;
}

.hive-link {
	  fill: none;
	  stroke: #999;
	  stroke-width: 1.5px;
	  stroke-opacity: .3;
}

.hive-link.active {
	  stroke: red;
	  stroke-width: 2px;
	  stroke-opacity: 1;
}

.hive-grouping-legend {
	float: left;
	width: 10px;
	height: 10px;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .2);
}

.hive-axis-label {
	position: absolute;
	border-radius: 25px;
	padding: 0px 10px 8px 10px;
	background: #FFFFFF;
}

.inside-group {
	background: #4368A1;
}

.outside-group {
	background: #FFFF00;
}

div.network-view-data-tooltip {
    position: absolute;
    color: #4368A1;
    text-align: left;
    padding: 5px 5px 5px 5px;
    font: 12px sans-serif;
    background: #ddd;
    border: solid 0px #aaa;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}

td.connectors {
	border: 2px solid white;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: white;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/* country modal dialog */
#dialog-title{
	text-align:center;
	float:center;
}

#country-report{
	margin:20px;
	border: 2px solid white;
	border-collapse: collapse;
}

#country-report-title{
	font-family:verdana;
	font-weight:bold;
	font-size:14px;
	width:400px;
	padding:4px;
	text-align:center;
	float:center;
}

#country-report-officer-line,
#country-report-intermediary-line,
#country-report-entity-line{
	text-align:right;
	padding:4px;
	font-family:verdana;
	font-weight:normal;
	font-size:12px;
	float:right;
}}

#country-report-officer-line{
	color:#a1d99b;
}
#country-report-intermediary-line{
	color:#fc9272;
}
#country-report-entity-line{
	color:#a6bddb;
}

#country-report-officer-total,
#country-report-intermediary-total,
#country-report-entity-total{
	float:right;
	text-align:right;
	font-weight:normal;
	font-size:11px;	
	padding-right:4px;
}
 td.width-a{ width:200px; }
 td.width-b{ width:250px; }
 td.width-c{ width:75px; }

.col-sm-3 h2{
	color:gray;
	font-size:24px;
	text-align:left;
	padding-left:27px;
}
.col-sm-3 p{
	color:gray;
	text-align:left;
	padding-left:10px;
}